# ðŸ¦„ The Fantasy Zookeeper

**Scenario:**

Congratulations! You've been hired as a data analyst at Fantasy Zoo, the world's first zoo for mythical creatures. Your job is to analyze the data of the mythical creatures living at the zoo and provide insights to help improve their wellbeing.

You've been given a **dataset** containing the following columns:
* `creature_name`: Name of the creature
* `creature_type`: Type of the creature (e.g., dragon, unicorn, etc.)
* `age`: Age of the creature (in years)
* `health_status`: Health status of the creature (Excellent, Good, Fair, Poor)
* `magical_ability_score`: Score representing the creature's magical ability (0-100)

**Exercise:**

In order to organize the animals into different habitats, you've been asked to answer the fsome questions regarding this dataset:

In [1]:
import pandas as pd
import numpy as np
import random 

# random.seed()
np.random.seed(42)

# Define the number of creatures
num_creatures = 100

# Define the creature types
creature_types = ['Dragon', 'Unicorn', 'Griffin', 'Phoenix', 'Mermaid', 'Centaur']

# Generate random data
data = {
    'creature_name': ['Creature' + str(i) for i in range(num_creatures)],
    'creature_type': np.random.choice(creature_types, num_creatures),
    'age': np.random.randint(1, 1000, num_creatures),
    'health_status': np.random.choice(['Excellent', 'Good', 'Fair', 'Poor'], num_creatures),
    'magical_ability_score': np.random.randint(0, 101, num_creatures)
}

# Create a DataFrame
df = pd.DataFrame(data)

1. Display the first 5 rows of the dataframe.

In [3]:
df.head() # Nos deveulve las 5 primeras filas

#df.tail(10) #Nos devuelve las 10 ultimas

  creature_name creature_type  age health_status  magical_ability_score
0     Creature0       Phoenix   15          Fair                     19
1     Creature1       Mermaid  813          Poor                     58
2     Creature2       Griffin   65          Good                     35
3     Creature3       Mermaid  857          Fair                     18
4     Creature4       Mermaid  839          Poor                     89

In [4]:
df.tail()

   creature_name creature_type  age health_status  magical_ability_score
95    Creature95       Phoenix  620          Fair                     27
96    Creature96       Phoenix  556          Good                     63
97    Creature97       Mermaid  340          Poor                     96
98    Creature98        Dragon  798     Excellent                     68
99    Creature99       Mermaid  958          Fair                     60

2. Calculate and print the total number of creatures in the zoo.

In [5]:
len(df)

100

In [6]:
df.shape[0]

100

In [7]:
df.count()

creature_name            100
creature_type            100
age                      100
health_status            100
magical_ability_score    100
dtype: int64

In [26]:
#len(df)

#df.shape[0]

#df.count()

unicorn_mask = df.creature_type == 'Unicorn' # Esto es lo mismo que unicorn_mask = df['creature_type'] == 'Unicorn' 

unicorn_df = df[unicorn_mask]

len(unicorn_df)

19

In [29]:
df.creature_type.unique()

array(['Phoenix', 'Mermaid', 'Griffin', 'Unicorn', 'Centaur', 'Dragon'],
      dtype=object)

In [30]:
df.creature_type.nunique()

6

In [31]:
df.creature_type.value_counts()

creature_type
Phoenix    25
Unicorn    19
Mermaid    17
Centaur    17
Griffin    11
Dragon     11
Name: count, dtype: int64

3. Calculate and print the average age of the creatures.

In [32]:
avg_age = df.age.mean()

avg_age

517.97

In [33]:
std_age = df.age.std()

std_age

288.8996000151071

In [34]:
df.groupby("creature_type")["age"].mean()

creature_type
Centaur    442.588235
Dragon     727.545455
Griffin    348.818182
Mermaid    692.058824
Phoenix    458.000000
Unicorn    485.157895
Name: age, dtype: float64

4. Find and print the name of the oldest creature.

In [9]:
max_age = df.age.max()

max_age_index = np.argmax(df.age)

# df.iloc[max_age_index,0] - El resultado es el mismo este que en la linea posterior

max_age_creature_name = df.iloc[max_age_index]["creature_name"]

max_age, max_age_creature_name

(987, 'Creature40')

In [12]:
max_age_creature_type = df.iloc[max_age_index]["creature_type"]

max_age_creature_type

'Dragon'

In [10]:
max_age_index

40

#Es mas correcto utilizar df.iloc() que df.loc() porque estamos buscando por indice, por la posicion.
#Es indistinto usar un valor u otro cuando el indice coincide con los valores de la primera columna

5. Identify and print the most common type of creature.

In [49]:
df.creature_type.value_counts()

creature_type
Phoenix    25
Unicorn    19
Mermaid    17
Centaur    17
Griffin    11
Dragon     11
Name: count, dtype: int64

In [50]:
df.creature_type.value_counts().max()

25

6. Find and print the average magical ability score for each type of creature.

In [54]:
grouped_by_type_df = df.groupby('creature_type')

grouped_by_type_df.magical_ability_score.mean()

creature_type
Centaur    39.000000
Dragon     55.000000
Griffin    36.272727
Mermaid    52.235294
Phoenix    45.920000
Unicorn    53.842105
Name: magical_ability_score, dtype: float64

7. Find the names of creatures who have a 'Poor' health status.

In [58]:
name_mask = df["health_status"] == "Poor"

df[name_mask]

   creature_name creature_type  age health_status  magical_ability_score
1      Creature1       Mermaid  813          Poor                     58
4      Creature4       Mermaid  839          Poor                     89
14    Creature14       Unicorn  392          Poor                     81
20    Creature20       Mermaid  490          Poor                     49
28    Creature28        Dragon  930          Poor                     89
29    Creature29       Griffin   33          Poor                     59
33    Creature33       Phoenix  574          Poor                     11
34    Creature34       Centaur  728          Poor                     68
35    Creature35       Centaur  805          Poor                     36
37    Creature37       Griffin  684          Poor                      8
42    Creature42       Mermaid  961          Poor                      2
43    Creature43       Griffin  739          Poor                     19
51    Creature51       Unicorn  503          Poor                     37
57    Creature57       Phoenix  207          Poor                     92
61    Creature61       Mermaid  892          Poor                     53
68    Creature68       Unicorn  564          Poor                     67
70    Creature70       Centaur  900          Poor                     13
72    Creature72       Unicorn  485          Poor                     47
74    Creature74       Centaur  231          Poor                      7
77    Creature77       Unicorn  171          Poor                     16
82    Creature82       Phoenix  839          Poor                     85
84    Creature84       Centaur  243          Poor                     29
90    Creature90       Unicorn  574          Poor                     26
91    Creature91       Mermaid  953          Poor                     97
94    Creature94       Phoenix   28          Poor                     96
97    Creature97       Mermaid  340          Poor                     96

In [59]:
df[~name_mask] #El contrario ~

   creature_name creature_type  age health_status  magical_ability_score
0      Creature0       Phoenix   15          Fair                     19
2      Creature2       Griffin   65          Good                     35
3      Creature3       Mermaid  857          Fair                     18
5      Creature5       Unicorn  521     Excellent                     66
6      Creature6       Griffin  344          Fair                     18
..           ...           ...  ...           ...                    ...
93    Creature93        Dragon  796     Excellent                     29
95    Creature95       Phoenix  620          Fair                     27
96    Creature96       Phoenix  556          Good                     63
98    Creature98        Dragon  798     Excellent                     68
99    Creature99       Mermaid  958          Fair                     60

[74 rows x 5 columns]

Remember, the happiness of the mythical creatures is in your hands. Happy analyzing! ðŸ’ª